.package_list__element {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 5px;
    border-bottom: 4px solid black;
}

.package_list__element__inputs {
    margin: 4px;
}

.package_list__element__buttons {
    display: flex;
    justify-content: space-between;
}

.package_list__element__buttons__button {
    border: 1px solid black;
    border-radius: 5px;
}