.delete__items {
    width: 90vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px; padding: 15px;
    background: var(--main-background)
}
.delete__list__item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 2px solid black;
    /*border-style:  ;*/
}

.add__button {
    background-color: darkgreen;
    border-radius: 10px;
    color: white;
}

.delete__button {
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 2px solid black;
}

.delete__form {
    display: flex;
    flex-direction: column;
}

.delete__form__radio {
    transform: translateY(6px);
}