.add-new-item {
    width: 90vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px; padding: 15px;
    background: var(--main-background)
}

.add-new-item__form {
    display: flex;
    flex-direction: column;
}

.add-new-item__form__item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.add-new-item__form__item-base__line {
    justify-self: baseline;
    transform: translateY(5px);
}

.add-new-item__form__button {
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
}