.add-new-item {
    width: 80vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px; padding: 15px;
    background: rgba(176, 241, 219, 0.55);
}

.add-new-item__form {
    display: flex;
    flex-direction: column;
}

.add-new-item__form__item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.add-new-item__form__item-base__line {
    justify-self: baseline;
    transform: translateY(5px);
}