.outcome {
    width: 80vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px; padding: 15px;
    background: rgba(176, 241, 219, 0.55);
}

.percent__input {
    width: 40px;
}

.underline {
    text-decoration: underline;
}