.active-list-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-btn-round {
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px;
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
    align-self: flex-end;
}