.header {
    width: 90vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px; padding: 15px;
    background: var(--main-background)
}

.header__name {
    margin: 0 auto;
    text-align: center;
}

.header__navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header__navbar_link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    padding: 3px;
}

@media screen and (max-width: 890px){
    .header__name {
        font-size: 1.4em;
    }
    .header__navbar {
        flex-direction: column;
    }
}