.product_list {
    width: 90vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px; padding: 15px;
    background: var(--main-background)
}

.product_list__elements {
    display: flex;
    flex-direction: column;
}

.add_button {
    background-color: darkgreen;
    border-radius: 10px;
    color: white;
}